body {
    background-color: whitesmoke;
    .container {
        margin: 0 auto;
        width: 1100px;
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin: 50px;
        }

        .joke-holder {
            margin: 90px 0;
            h2 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h3 {
                text-indent: 32px;
            }

        }
    }
}